* {
    box-sizing: border-box;
}

body {
    color: black;
    background-image: url("https://previews.123rf.com/images/ekaart/ekaart1605/ekaart160500262/56990705-sagrado-geometr%C3%ADa-s%C3%ADmbolos-y-elementos-de-fondo-de-pantalla-de-patrones-sin-fisuras-dise%C3%B1o-textil-te.jpg");
    background-attachment: fixed;
    background-size: 1000px;
    text-align: justify;
    font-family: tahoma;
}

.bigContainer {
    width: 90%;
    margin: auto;
}

a {
    color: red;
}

h2 {
    font-size: larger;
    text-align: center;
}

.perfil {
    width: 60%;
    margin: auto;
}

.perfil img {
    width: 60%;
    margin: auto;
}

.borde {
    display: inline-block;
}

.cursos {
    display: inline-block;
    margin: auto;
}

.whatsApp {
    display: inline-block;
    text-align: center;
}

.instagram {
    display: inline-block;
    text-align: center;
}

@media (min-width: 768px) {
    .perfil {
        display: flex;
    }

    .cont {
        display: flex;
        flex-wrap: wrap;
    }

    .whatsApp {
        width: 48%;
        margin: 0;
    }

    .instagram {
        width: 48%;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .cursos {
        margin-left: 21%;
    }
}